<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086108385280-84lecqukakbl3puqbi7apul5g0k378qu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086108385280-84lecqukakbl3puqbi7apul5g0k378qu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1086108385280-blmrp9cr74bki2cnaol6kp9j450hirv0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCoBcBcIXVNAo9MFSkU_p-HA1_JEZgY44M</string>
	<key>GCM_SENDER_ID</key>
	<string>1086108385280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exemple.chatappFirebase</string>
	<key>PROJECT_ID</key>
	<string>chatappflutter-ac37d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappflutter-ac37d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086108385280:ios:7dd5b284ea2b438eb598e5</string>
</dict>
</plist>